/***-------------------------------navigation bar*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.list-items {
    display: flex;
    /* justify-content: space-evenly; */
    overflow: hidden;
}

.nav-items {
    padding: 0px 54px 0px 0px;
    list-style: none;
}

.cert-nav .nav-items {
    padding: 20px 54px 0px 0px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #9DB2BF;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav a:hover,
.nav-items:hover {
    text-decoration: double;
    color: black;
    /* color: #D83F31; */
    scale: 1.2;
}

img {
    width: 90px;
    height: 50%;
    padding: 0px 0px 0px 30px;
}

/***------------------------------------------------------- Home page ****/
.home h1 {
    color: #219C90;
    font-size: 4rem;
    padding: 110px 0px 0px 0px;
}

.get-started {
    display: flex;
    justify-content: center;
}



/******----------------------------------------certificate*****/
.certi-main {
    display: flex;
    justify-content: center;
}

.img1 {
    width: 70%;
    margin-top: 50px;
    height: 400px;
    padding: 0px 30px 0px 30px
}

.certi-main button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    opacity: 0.7;
    border: none;
    margin-top: 250px;
    background-color: #526D82;
}
.certi-main button:hover {
    /* background-color: #526D82; */
    border: black solid;
}



/*****--------------------------------------------education*********/
.edu-img {
    padding: 0px;
}

.education fieldset {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    border-style: none;
    border-width: thin;
    border-radius: 20px;
    border-color: #D83F31;
    margin-top: 20px;
    text-align: justify;
    overflow: hidden;
}

.education legend {
    font-size: 1.2rem;
    color: #D83F31;
}

.education {
    display: grid;
    justify-content: center;
}

.edu-description {
    font-size: 1rem;
    line-height: 20px;
    overflow: hidden;
}
.edu-description:hover {
    scale: 1.2;
    color: rgb(92, 111, 198);
}


/*******---------------------------------about me*********/
.who,
.description {
    /* border: #4E4FEB; */
    /* border-style: solid; */
    /* display: flex; */
    /* justify-content: center; */
    margin: 0px 0px 0px 20px;
    width: max-content;
}

.mypic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    padding: 0px;
}
.mypic:hover {
   scale: 2.5;
}

.section1 {
    /* border-style: solid; */
    display: flex;
    padding: 20px 20px 20px 50px;
    line-height: 30px;
}

.section2 {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.section2 ul {
    list-style: none;
    line-height: 30px;
}

iframe {
    width: 30vw;
    height: 200px;
}

/****************************************************contact***********/
.contact-img {
    height: 62px;
    width: 66%;
}


.contact {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.notes {
    opacity: 0;
    position: sticky;
    /* font-size: 2rem; */
    pointer-events: none;
    /* background-color: rgb(115, 179, 243); */
    margin-left: 30px;
}

.mail:hover .notes,
.linkedin:hover .notes,
.instagrm:hover .notes,
.cv:hover .notes,
.github:hover .notes,
.whatsapp:hover .notes {
    opacity: 1;
}
.mail:hover .contact-img,
.linkedin:hover .contact-img,
.instagrm:hover .contact-img,
.cv:hover .contact-img,
.github:hover .contact-img,
.whatsapp:hover .contact-img {
    /* opacity: 1; */
    scale: 0.8;
}

input {
    border-radius: 7px;
    height: 30px;
    margin-left: 26px;
    border-style: hidden;
    /* border-width: 10px; */
    width: 100%;

}

.responsehead {
    border: hidden;
    border-style: hidden;
    padding: 100px 10px 10px 10px;
    text-align: center;
    color: #4E4FEB;
}

.responsehead h1 {
    padding: 0px;
}

.inputfields {
    display: flex;
    /* justify-content: first baseline; */
    border-style: outset;
    padding: 10px 0px 0px 0px;
    margin: 60px 100px 10px 100px;
    height: 300px;
}


.right {
    margin: 20px 20px 20px 20px;
    background-color: rgb(219, 217, 214);
    width: 100%;


}

.left {
    display: flex;
    padding: 50px 100px 20px 10px;
    /* justify-content: center; */
}

textarea {
    margin: 1px 0px 0px 35px;
    width: 82%;
    border: hidden;
    border-radius: 7px;
    resize: none;

}

#sub {
    width: 10%;
    border-style: hidden;
    background-color: #4E4FEB;
    color: aliceblue;
    margin: 20px 30px;
    border-radius: 30px;
    font-weight: bold;
    height: 35px;
}

#sub:hover {
    background-color: red;
}
#sub:active {
    background-color: rgb(246, 129, 129);
    scale: 1.2;
}




/*******---------------------------------------projects*********/
.projects fieldset {
    display: flex;
    /* width: 100%; */
    /* justify-content: center; */
    border-style: dotted;
    border-width: thin;
    border-radius: 20px;
    border-color: blue;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.projects legend {
    font-size: 1.2rem;
    color: #D83F31;
}

.projects p {
    text-align: justify;
    font-size: 1rem;
    line-height: 20px;
}

.projects button {
    width: auto;
    border-style: hidden;
    background-color: #4E4FEB;
    color: aliceblue;
    /* margin: 20px 30px; */
    border-radius: 30px;
    font-weight: bold;
    height: 35px;
    padding: 10px;
}

.projects button:hover {
    background-color: red;
}
.projects button:active {
    scale: 0.9;
}