/***-------------------------------navigation bar----------------------*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
body{
    background-image: url('images/home.avif');
    background-repeat: no-repeat;
    background-size: cover;
}
.list-items {
    display: flex;
    overflow: hidden;
}

.nav-items {
    padding: 0px 54px 0px 0px;
    list-style: none;
}

.cert-nav .nav-items {
    padding: 20px 54px 0px 0px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #adc7d7;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav a:hover,
.nav-items:hover 
{
    text-decoration: double;
    color: rgb(255, 254, 254);
    scale: 1.2;
}
nav a:active{
    color: #D83F31;
}

img {
    width: 90px;
    height: 50%;
    padding: 0px 0px 0px 30px;
}

/***------------------------------------------------------- Home page--------------------- ****/
.home h1 {
    color: #fff42a;
    font-size: 4rem;
    padding: 110px 0px 0px 0px;
}
.g,
.e,
.t,
.s,
.a,
.r,
.d{
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: bolder;
    letter-spacing: 7px;
}
    
.g{
    color: red;
}
.e{
    color: orange;
}
.t{
    color: yellow;
}
.s{
    color: green;
}
.a{
    color: blue;
}
.r{
    color: indigo;
}

/******----------------------------------------certificate---------------------------*****/
.certi-main {
    display: flex;
    justify-content: center;
}
.certificates{
    background-image: url('images/certifi.avif');
    background-size: cover;
    background-repeat: no-repeat;
}

.img1 {
    width: 70%;
    margin-top: 50px;
    height: 400px;
    padding: 0px 30px 0px 30px;
    border-radius: 5%;
}

.certi-main button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    opacity: 0.7;
    border: none;
    margin-top: 250px;
    background-color: #d9dfe2;
}
.certi-main button:hover {
    /* background-color: #526D82; */
    border: black solid;
}
.certi-main button:active {
    background-color: red;
    scale: 0.9; 
    border: black solid;
}



/*****--------------------------------------------education--------------------------------******/
.edu-img {
    padding: 0px;
}

.education fieldset {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    border-style: none;
    border-width: thin;
    border-radius: 20px;
    border-color: #D83F31;
    margin-top: 20px;
    text-align: justify;
    overflow: hidden;
}

.education legend {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bolder;
}
.educations{
    background-image: url('images/education.avif');
    background-size: contain;
    background-repeat: repeat-y;
}

.education {
    display: grid;
    justify-content: center;
}

.edu-description {
    font-size: 1rem;
    line-height: 20px;
    overflow: hidden;
    color: aliceblue;
}
.edu-description:hover {
    /* scale: 1.1;    */
    font-weight: bold;
    /* color: rgb(0, 0, 0); */
}


/*******---------------------------------about me----------------------------------*******/
.who,
.description {
    margin: 0px 0px 0px 20px;
    width: max-content;
    color: aliceblue;
}
.aboutme{
    background-image: url('images/aboutme.avif');
    background-size: cover;
}
.details b{
    color: #D83F31;
    font-size: 20px;
}
.details li{
    color: #ffffff;
}

.mypic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    padding: 0px;
}
.mypic:hover {
   scale: 2.5;
}

.section1 {
    display: flex;
    padding: 20px 20px 20px 50px;
    line-height: 30px;
}

.section2 {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.section2 ul {
    list-style: none;
    line-height: 30px;
}

iframe {
    width: 30vw;
    height: 200px;
}

/*****-----------------------------------------------contact----------------------------******/
.contact-img {
    height: 62px;
    width: 66%;
}
input:invalid{
    border: 2px solid red;
}
input:valid{
    border: 2px solid rgb(68, 255, 0);
}
.contacts{
    background-image: url('images/contacts.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.notes {
    opacity: 0;
    position: sticky;
    pointer-events: none;
    margin-left: 30px;
}

.mail:hover .notes,
.linkedin:hover .notes,
.instagrm:hover .notes,
.cv:hover .notes,
.github:hover .notes,
.whatsapp:hover .notes {
    opacity: 1;
    color: aliceblue;
}
.mail:hover .contact-img,
.linkedin:hover .contact-img,
.instagrm:hover .contact-img,
.cv:hover .contact-img,
.github:hover .contact-img,
.whatsapp:hover .contact-img {
    scale: 0.8;
    filter: drop-shadow(0px 0px 30px rgb(255, 240, 240));
}

input {
    border-radius: 7px;
    height: 30px;
    margin-left: 26px;
    border: 3px solid rgb(39, 253, 1);
    color: aliceblue;
    background-color: transparent;
    padding: 5px;
    width: 100%;
    outline: none;
}
textarea::placeholder,
input::placeholder{
    color: #ffffff;
}

.responsehead {
    border: hidden;
    border-style: hidden;
    padding: 100px 10px 10px 10px;
    text-align: center;
    color: #51d808;
    animation: bounce 1.5s linear;
}

.responsehead h1 {
    padding: 0px;
}

.inputfields {
    display: flex;
    border-style: hidden;
    padding: 10px 0px 0px 0px;
    margin: 60px 100px 10px 100px;
    height: 300px;
}


.right {
    margin: 20px 20px 5px 20px;
    width: 100%;
}

.left {
    display: flex;
    padding: 50px 100px 20px 10px;
}

textarea {
    margin: 1px 0px 0px 35px;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    background-color: transparent;
    border: 2px solid rgb(39, 253, 1);
    color: #ffffff;
}

#sub {
    width: 10%;
    border-style: hidden;
    background-color: #1ac504;
    color: aliceblue;
    margin: 20px 30px;
    border-radius: 30px;
    font-weight: bold;
    height: 35px;
}

#sub:hover {
    background-color: red;
    cursor: progress;
}
#sub:active {
    background-color: rgb(246, 129, 129);
    scale: 0.9;
}




/*******---------------------------------------projects----------------------*********/
.projects fieldset {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgb(87, 87, 248);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.projects legend {
    font-size: 1.4rem;
    color: #ff1500;
}
.projectworks{
    background-image: url('images/projects.avif');
    background-size: contain;
    background-repeat: repeat-y;
}

.projects p {
    text-align: justify;
    font-size: 1rem;
    line-height: 20px;
    color: aliceblue;
}

.projects button {
    width: auto;
    border-style: hidden;
    background-color: #4E4FEB;
    color: aliceblue;
    border-radius: 30px;
    font-weight: bold;
    height: 35px;
    padding: 10px;
}

.projects button:hover {
    background-color: red;
}
.projects button:active {
    scale: 0.9;
}